*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    background-color: dodgerblue;

}

h1{
    font-family: 'Fredoka One', cursive;
    color: #FAB201;
    -webkit-text-stroke: 5px white ;
    font-weight: bolder;
    font-size: 4.5rem;
    text-align: center;
    padding-top:5.5%;

}

#grid{
    width: fit-content;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 7px;
    margin: 5% auto ;
}

.grid_item{
    height: 80px;
    width: 80px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 2px 2px 0px 0px #b7b7b7;
}

footer{
    color: white;
    text-align: center;
    font-weight: 900;
    letter-spacing: 1px;
    font-size: x-large;
    font-family: 'Fredoka One', cursive
}